* {
    margin: 0px;
    padding: 0px;
}

@keyframes navyes {
    from {
        border-radius: 0%;
    }
    to {
        border-radius: 50%;
    }
}

body {
    background: url("/media/glass.jpg");
    background-size: 100%;
    /* width: 100%; */
}

.nav {
    background-color: purple;
    position: fixed;
    width: 100%;
}

ul {
    display: flex;
    flex-direction: row;
}

.nava {
    text-decoration: none;
    color: white;
    margin: 2vh;
    padding: 2vh;
}

.nava:hover {
    background-color: yellow;
    color: black;
    animation: navyes .75s forwards;
}

.navli {
    list-style-type: none;
}

h1 {
    text-align: center;
    background-color: white;
    /* padding-top: 15vh; */
    /* height: 10vh; */
    width: 100vh;
    margin-left: 27%;
    padding-top: 1vh;
    padding-bottom:1vh;
}

.mainbr {
    padding-top: 20vh;
}

.mainp {
    text-align: center;
    background-color: white;
    padding-top: 15vh;
    /* height: 10vh; */
    width: 138.5vh;
    margin-left: 15%;
    padding: 5vh;
    line-height: 5vh;
}

footer {
    background-color: purple;
    width: 100%;
    color: white;
    padding-top: 2vh;
    padding-bottom: 2vh;
    text-align: center;
}

a {
    color: white;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.containerMain {
    background-color: white;
    width: 100%;
    margin: 2vh;
    width: 40vh;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h2 {
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
}

.gamelink {
    background-color: black;
    margin: 2vh;
    /* margin-top: 10vh; */
    padding: 2vh;
    color: white;
    text-decoration: none;
    text-align: center;
}

.gamelink:hover {
    animation: navyes .75s forwards;
    background-color: purple;
}

.gameimg {
    height: 60%;
    width: 60%;
    text-align: center;
    margin-left: 20%;
    margin-bottom: 10vh;
}